.content-box-big{
    width: 70%;
}
.content-box-small{
    width: 25%;
}
.content-box-big,.content-box-small{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
}