.box_border {
    transition: all 0.5s;
    border: var(--box-border);
    background: var(--background-transparent);
    overflow: hidden;
  }
  
  .box_border:hover {
    border: var(--box-border-active);
    background: var(--background-hover);
  }
  @keyframes wallflowItem {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .wallflowItemAnimate {
    animation: wallflowItem 0.25s;
  }